<h1>Editing Timetable</h1>
<p id="notice"><%= notice %></p>
<div>
  <% 5.times do |i| %>
    <div id="<%= @timetable.id %>" class="days-of-week">
      <% case i %>
      <% when 0 %>
        <h4>Monday</h4>
        <% @days = Day.where(calendars_id: Calendar.where(time_table_id: @timetable.id, day_of_week: 1).ids) %>
      <% when 1 %>
        <h4>Tuesday</h4>
        <% @days = Day.where(calendars_id: Calendar.where(time_table_id: @timetable.id, day_of_week: 2).ids) %>
      <% when 2 %>
        <h4>Wednesday</h4>
        <% @days = Day.where(calendars_id: Calendar.where(time_table_id: @timetable.id, day_of_week: 3).ids) %>
      <% when 3 %>
        <h4>Thursday</h4>
        <% @days = Day.where(calendars_id: Calendar.where(time_table_id: @timetable.id, day_of_week: 4).ids) %>
      <% when 4 %>
        <h4>Friday</h4>
        <% @days = Day.where(calendars_id: Calendar.where(time_table_id: @timetable.id, day_of_week: 5).ids) %>
      <% end %>
      <div id="timetable-days">
        <ol>
          <% @days.each do |value| %>
            <li>
              <div>
                <input data-autocomplete-source="/subjects" value="<%= Subject.find_by(id: value) %>" type="text" name="calendars[subject]" id="calendars_subject" class="lodgingComboSubjects">
                <input data-autocomplete-source="/teachers" value="<%= Teacher.find_by(id: value) %>" type="text" name="calendars[teacher]" id="calendars_teacher" class="lodgingComboTeachers">
                <input type="text" value="<%= Day.find_by(auditorium: value)%>">
                <%= link_to 'Delete item', 'javascript:void(0)', data: {turbolinks: false}, id: 'delete-timetable-item', class: 'btn btn-outline-danger btn-sm' %>
              </div>
            </li>
          <% end %>
        </ol>
        <%= link_to 'Add subject', 'javascript:void(0);', data: {turbolinks: false}, id: i, class: 'subject-timetable-add btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>

<div class="footer">
  <%= link_to 'Save list', 'javascript:void(0)', data: {turbolinks: false}, class: 'btn btn-success submit-btn',
              id: 'calendar-timetable-send-btn' %>
  <%= link_to 'Delete list', 'javascript:void(0)', data: {turbolinks: false}, class: 'calendar-timetable-delete-btn btn btn-danger submit-btn',
              id: @timetable.id %>
  <%= link_to 'Back', timetables_path, data: {turbolinks: false}, class: 'btn btn-outline-dark' %>
</div>

<div id="hidden-information-timetable" style="display: none">
  <input data-autocomplete-source="/subjects" placeholder="Subject" type="text" name="calendars[subject]" id="calendars_subject" class="lodgingComboSubjects">
  <input data-autocomplete-source="/teachers" placeholder="Teacher" type="text" name="calendars[teacher]" id="calendars_teacher" class="lodgingComboTeachers">
  <input type="text" placeholder="Auditorium">
  <%= link_to 'Delete item', 'javascript:void(0)', data: {turbolinks: false}, id: 'delete-timetable-item', class: 'btn btn-outline-danger btn-sm' %>
</div>
