<% if @calendar.nil? %>
  <%= link_to 'Create list', 'javascript:void(0)', id: 'create-list', class: 'btn btn-dark' %>
<% elsif @day.nil? %>
  <div class="subjects-container" id="<%= @calendar.id %>">
    <h1>List is empty</h1>
    <ol id="subjects-list"></ol>
    <br>
    <%= link_to 'Edit list', edit_calendar_path(@calendar.id), data: { turbolinks: false }, class: 'btn btn-warning submit-btn',
                id: 'edit-list' %> |
    <%= link_to 'Delete list', 'javascript:void(0);',  data: { turbolinks: false }, class: 'btn btn-danger submit-btn',
                id: 'calendar-delete-btn' %>
  </div>
<% else %>
  <div class="subjects-container" id="<%= @calendar.id %>">
    <ol id="subjects-list">
      <% @day.each do |day|%>
        <li>
          <div id="<%= day.id %>" >
            <input data-autocomplete-source="/subjects" type="text" disabled value="<%= @subjects.find_by(id: day.subjects_id).name%>" name="calendars[subject]" id="calendars_subject" class="lodgingComboSubjects">
            <input data-autocomplete-source="/teachers" type="text" disabled value="<%= @teachers.find_by(id: day.teachers_id).surname %> <%=@teachers.find_by(id: day.teachers_id).name%>"name="calendars[teacher]" id="calendars_teacher" class="lodgingComboTeachers">
          </div>
        </li>
        <br>
        <br>
      <% end %>
    </ol>
    <%= link_to 'Edit list', edit_calendar_path(@calendar.id),  data: { turbolinks: false },  class: 'btn btn-warning submit-btn',
                id: 'edit-list' %>
    <%= link_to 'Delete list', 'javascript:void(0);', class: 'btn btn-danger submit-btn',
                id: 'calendar-delete-btn' %>
  </div>
<% end %>
</div>