<h1>Editing Calendar</h1>

<div id="hidden-information", style="display: none">
  <%= select_tag 'subject-name',
                 options_for_select(@subjects.collect{ |u| [u.name, u.id] }) %>
  <%= select_tag 'teacher-name',
                 options_for_select(@teachers.collect{ |u| [u.name, u.id] })%>
  <%= select_tag 'teacher-surname',
                 options_for_select(@teachers.collect{ |u| [u.surname, u.id] })%>

  <%= link_to 'save item', 'javascript:void(0)', id: 'save-item' %>
  <%= link_to 'delete item', 'javascript:void(0)', id: 'delete-item' %>
</div>

  <li><%= link_to 'Add subject','javascript:void(0);',id: 'subject-add'  %></li>
<div class="day-ajax">
  <%= render 'day'%>
</div>

<%= link_to 'Back', :back, class: 'btn btn-outline-dark' %>