<div class="form-wrapper" style="width: 500px; margin: 0 auto">

  <h1>Calendar</h1>
  <%= simple_form_for :calendar, method: :get do |f| %>
    <%= f.input :date, as: :string, input_html: { class: 'datepicker'} %>
  <%end%>


   <div class="content">
    <div class="container-ajax" id="container">
      <%= render 'calendar' %>
    </div>
   </div>
  <div class="footer">
      <%= link_to 'Create subject', new_subject_path,  data: { turbolinks: false }, class: 'btn btn-success' %>
      <%= link_to 'Add teacher', new_teacher_path,  data: { turbolinks: false }, class: 'btn btn-success' %>
  </div>
</div>