<h1>New Calendar</h1>
<li><%= link_to 'Add subject','javascript:void(0);',id: 'subject-add'  %></li>
<div class="subjects-container" id="<%= @calendar.id %>">
  <ol id="subjects-list">

  </ol>
</div>
<br>
<%= link_to 'Save list', 'javascript:void(0);', class: 'btn btn-primary submit-btn',
            id: 'calendar-send-btn' %>
<%= link_to 'Delete list', 'javascript:void(0);', class: 'btn btn-primary submit-btn',
            id: 'calendar-delete-btn'%>
<br>

<%= link_to 'Back', calendars_path %>



<div id="hidden-information", style="display: none">
  <input data-autocomplete-source="/subjects" type="text" name="calendars[subject]" id="calendars_subject" class="lodgingComboSubjects">
  <input data-autocomplete-source="/teachers" type="text" name="calendars[teacher]" id="calendars_teacher" class="lodgingComboTeachers">
  <%= link_to 'delete item', 'javascript:void(0)', id: 'delete-item' %>
</div>
