<div id="hidden-information", style="display: none">
  <%= select_tag 'subject-name',
                 options_for_select(@subjects.collect{ |u| [u.name, u.id] }) %>
  <%= select_tag 'teacher-name',
                 options_for_select(@teachers.collect{ |u| [u.name, u.id] }) %>
  <%= select_tag 'teacher-surname',
                 options_for_select(@teachers.collect{ |u| [u.surname, u.id] }) %>

  <%= link_to 'delete item', 'javascript:void(0)', id: 'delete-item' %>
</div>

<h1>New Calendar</h1>
<div class="content">
  <%= link_to 'Add subject','javascript:void(0);',id: 'subject-add', class: 'btn btn-dark' %>
</div>
<div class="subjects-container" id="<%= @calendar.id %>">
  <ol id="subjects-list"></ol>
</div>
<br>

<div class="footer">
  <%= link_to 'Save list', 'javascript:void(0);', class: 'btn btn-success submit-btn',
              id: 'calendar-send-btn' %>
  <%= link_to 'Delete list', 'javascript:void(0);', class: 'btn btn-danger submit-btn',
              id: 'calendar-delete-btn'%>
  <%= link_to 'Back', calendars_path, class: 'btn btn-outline-dark'%>
</div>

<br>
