<h1>New Calendar</h1>

<div class="content">
  <%= link_to 'Add subject','javascript:void(0);', data: { turbolinks: false }, id: 'subject-add', class: 'btn btn-success' %>
</div>
<div class="subjects-container" id="<%= @calendar.id %>">
  <ol id="subjects-list"></ol>
</div>

<div id="hidden-information" style="display: none">
  <div class="help-container" style="display: flex; justify-content: center; margin-right: 20px; margin-top: 10px;">
    <input data-autocomplete-source="/subjects" type="text" name="calendars[subject]" id="calendars_subject" class="lodgingComboSubjects">
    <input data-autocomplete-source="/teachers" type="text" name="calendars[teacher]" id="calendars_teacher" class="lodgingComboTeachers">
    <input type="text" name="calendars[auditorium]" id="calendars_auditorium">
    <%= link_to 'Delete item', 'javascript:void(0)', id: 'delete-item', class: 'btn btn-outline-danger btn-sm' %>
  </div>
</div>

<div class="footer">
  <%= link_to 'Save list', calendars_path, data: { turbolinks: false }, class: 'btn btn-success submit-btn',
              id: 'calendar-send-btn' %>
  <%= link_to 'Delete list', 'javascript:void(0);', data: { turbolinks: false }, class: 'btn btn-danger submit-btn',
              id: 'calendar-delete-btn'%>
  <%= link_to 'Back', calendars_path, data: { turbolinks: false }, class: 'btn btn-outline-dark'%>
</div>

<br>